/*

// X-Small devices (portrait phones, less than 576px)
@media (max-width:$phone ) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: $landscape) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: $tablets) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: $desktops) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: $Extra-large) { ... }

*/
/*

// X-Small devices (portrait phones, less than 576px)
@media (max-width:$phone ) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: $landscape) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: $tablets) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: $desktops) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: $Extra-large) { ... }

*/
.header {
  background-color: #F88D21;
  padding: 70px 15px 20px 15px;
  position: relative;
}
.header .home-vector {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 140%;
  z-index: 10;
}
.header .wave-vector {
  position: absolute;
  width: 75%;
  left: 0;
  bottom: 0;
  height: 90%;
}
.header .plate {
  position: absolute;
  width: 17%;
  top: 0px;
  right: 1%;
}
.header .soup {
  position: absolute;
  width: 13%;
  bottom: 0px;
  right: 1%;
}
.header .sandwitch {
  position: absolute;
  width: 13%;
  bottom: 37%;
  left: 4%;
}
.header .mobile img {
  width: 57%;
  height: 95%;
  margin-top: 35px;
}
.header .words {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.header .words h4 {
  text-align: right;
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 45px;
}
.header .words p {
  text-align: right;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

/*

// X-Small devices (portrait phones, less than 576px)
@media (max-width:$phone ) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: $landscape) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: $tablets) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: $desktops) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: $Extra-large) { ... }

*/
* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

@media ((max-width:767px)) {
  .header .mobile {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header .plate {
    display: none;
  }
  .header .sandwitch {
    display: none;
  }
  .header .soup {
    display: none;
  }
  .our-vision .imagess {
    display: none;
  }
  .our-vision .wordss {
    text-align: center;
    align-items: center !important;
    justify-content: center;
    display: flex;
    margin: 50px 0;
  }
  .benifites .image {
    display: none;
  }
  .start-today .overlay {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100%;
  }
  .start-today .row .col-lg-8.text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .start-today .row .col-lg-8.text .join {
    width: 90%;
  }
  .start-today .row .col-lg-8.text .texttt {
    flex-direction: column;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .start-today .row .col-lg-8.text .texttt button {
    margin-bottom: 15px;
  }
  .start-today .row .image {
    display: none;
  }
  .join-us {
    min-height: 50vh;
  }
  .our-vision {
    padding: 50px;
  }
}
.benifites .wave-vector {
  width: 150%;
  height: 80%;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navcontent {
  background-color: #F88818;
  align-items: center;
  padding: 10px;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 50;
}
.navcontent .nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.navcontent .nav .links ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.navcontent .nav .links ul li {
  color: rgba(255, 255, 255, 0.678);
  padding-top: 13px;
  font-size: 18px;
  font-weight: 600;
}
.navcontent .nav .links ul li:hover {
  color: #fff;
  transition: ease-in-out 0.3s;
}
.navcontent .nav .image {
  text-align: center;
}
.navcontent .nav .image img {
  width: 100px;
  text-align: center;
}

.our-vision {
  position: relative;
  margin-bottom: 20px;
}
.our-vision .wave-vector {
  position: absolute;
  width: 75%;
  left: 0;
  bottom: 0;
  height: 90%;
}
.our-vision .wordss {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: self-end;
}
.our-vision .wordss h2 {
  margin-top: 20px;
  font-size: 28px;
}
.our-vision .wordss .spann {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.our-vision .wordss span {
  display: inline-block;
  background-color: gray;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 25px 0 25px;
}
.our-vision .wordss span i {
  color: #fff;
  width: 45px;
  height: 25px;
  line-height: 45px;
  text-align: center;
}
.our-vision .imagess {
  text-align: right;
}
.our-vision .imagess img {
  width: 65%;
}

.benifites {
  position: relative;
  background-color: #F88818;
  overflow: hidden;
}
.benifites .wave-vector {
  position: absolute;
  width: 75%;
  left: 0;
  bottom: 0;
  height: 90%;
}
.benifites .image {
  text-align: center;
  margin-top: 50px;
}
.benifites .image p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: block;
}
.benifites .image p span {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  display: block;
}
.benifites .image img {
  margin-bottom: -280px;
}
.benifites .links ul {
  display: flex;
  align-items: end;
}
.benifites .links ul li {
  text-align: center;
}
.benifites .links ul li img {
  width: 20%;
  margin-top: 100px;
}
.benifites .links ul li h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.benifites .links ul li p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.start-today {
  position: relative;
  margin-top: 50px;
}
.start-today .overlay {
  position: absolute;
  width: 75%;
  left: 0;
  bottom: 0;
  height: 90%;
}
.start-today .row .phone {
  width: 370px;
}
.start-today .row .text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 30px;
}
.start-today .row .text span {
  color: #F88818;
  font-size: 24px;
}
.start-today .row .text .join {
  width: 93%;
}
.start-today .row .text .texttt {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  text-align: right;
}
.start-today .row .text .texttt p {
  font-size: 24px;
  line-height: 35px;
  max-width: 335px;
  display: inline-block;
}
.start-today .row .text .texttt button {
  background-color: #F88818;
  color: #fff;
  border-radius: 35px;
  border: #fff solid;
  display: inline-block;
  width: 228px !important;
  padding: 3px 10px;
  font-size: 27px;
}
.start-today .row .text .texttt button:hover {
  background-color: #fff;
  color: #F88818;
  border: 1px solid #F88818;
}

.join-us {
  text-align: center;
  position: relative;
  min-height: calc(100vh - 75px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.join-us .overlay {
  position: absolute;
  width: 64%;
  left: 0;
  bottom: 0;
  height: 89%;
}
.join-us h2 {
  font-size: 40px;
  color: #F88818;
  font-weight: 600;
}
.join-us p {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.join-us button {
  background-color: #F88818;
  color: #fff;
  border-radius: 5px;
  width: 350px;
  border: 0px solid #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.screenshot {
  position: relative;
  margin-top: 50px;
  width: 100%;
  overflow-x: hidden;
  text-align: center;
}
.screenshot .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  left: 0;
}
.screenshot .owl-carousel {
  padding: 0 150px;
}
.screenshot .item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.screenshot .item .owl-image {
  width: 70% !important;
}
.screenshot .owl-carousel .owl-nav button.owl-next, .screenshot .owl-carousel .owl-nav button.owl-prev {
  padding: 5px;
  border: 2px solid;
  border-color: rgb(160, 159, 159);
  color: rgb(161, 161, 161);
  font-size: 48px;
  width: 40px;
  height: 40px;
  border-radius: 7px;
  margin-top: 25px;
  text-align: center;
  line-height: 15px;
}
.screenshot .owl-carousel .owl-nav button.owl-next span, .screenshot .owl-carousel .owl-nav button.owl-prev span {
  display: inline-block;
  font-size: 60px;
  text-align: center;
  line-height: 1px;
  font-weight: 100;
}
.screenshot .owl-carousel .owl-nav button.owl-next {
  margin-left: 70px;
}

/*

// X-Small devices (portrait phones, less than 576px)
@media (max-width:$phone ) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: $landscape) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: $tablets) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: $desktops) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: $Extra-large) { ... }

*/
* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

@media ((max-width:767px)) {
  .benifites .wave-vector {
    width: 150%;
    height: 80%;
  }
  .screenshot h2, .screenshot h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .header .words {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .header .words .words-content {
    text-align: center;
  }
  .header .words .words-content h4 {
    text-align: center;
  }
  .header .words .words-content p {
    text-align: center;
  }
  .header .mobile {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header .plate {
    display: none;
  }
  .header .sandwitch {
    display: none;
  }
  .header .soup {
    display: none;
  }
  .our-vision .imagess {
    display: none;
  }
  .our-vision .wordss {
    text-align: center;
    align-items: center !important;
    justify-content: center;
    display: flex;
    margin: 50px 0;
  }
  .benifites .image {
    display: none;
  }
  .start-today .overlay {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 100%;
  }
  .start-today .row .col-lg-8.text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .start-today .row .col-lg-8.text .join {
    width: 90%;
  }
  .start-today .row .col-lg-8.text .texttt {
    flex-direction: column;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .start-today .row .col-lg-8.text .texttt button {
    margin-bottom: 15px;
  }
  .start-today .row .image {
    display: none;
  }
  .join-us {
    min-height: 50vh;
  }
  .screenshot .owl-carousel .owl-nav button.owl-next {
    margin-left: 5px;
  }
  .screenshot .owl-carousel .owl-nav button.owl-next {
    font-size: 28px;
    width: 20px;
    height: 20px;
    border-radius: 7px;
    margin-top: 25px;
    text-align: center;
    line-height: 5px;
  }
  .screenshot .owl-carousel .owl-nav button.owl-prev {
    font-size: 28px;
    width: 20px;
    height: 20px;
    border-radius: 7px;
    margin-top: 25px;
    text-align: center;
    line-height: 5px;
  }
  .screenshot .owl-carousel .owl-nav button.owl-next span, .screenshot .owl-carousel .owl-nav button.owl-prev span {
    font-size: 28px;
    margin-bottom: 10px;
  }
}
/*

// X-Small devices (portrait phones, less than 576px)
@media (max-width:$phone ) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: $landscape) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: $tablets) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: $desktops) { ... }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: $Extra-large) { ... }

*/
.footerr {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 0;
}
.footerr img {
  width: 100px;
}
.footerr p {
  color: #fff;
}
.footerr ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footerr ul li i {
  width: 35px;
  height: 35px;
  background-color: #fff;
  color: black;
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
}

@media ((max-width:767px)) {
  .footerr {
    text-align: center;
    flex-direction: column;
  }
  .footerr p {
    margin-top: 15px;
  }
  .footerr ul {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
body {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}/*# sourceMappingURL=website.css.map */