body{
    scroll-behavior: smooth;

    font: {
        size: 16px;;
        family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
ul ,ol{
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}